	/* CSS Document */
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);

 html,body{
margin:0;
padding:0;
height:100%;
color: #898989;
font-family: 'Open Sans', sans-serif;
font-size:14px;
margin: 0; 
height: 100%; 
}

h1{
font-size:20px;
line-height: 30px; 
margin-top: 10px;
font-weight: lighter;
color: #000;
}

@media screen and (max-width: 768px) {
body{
width:100%;
height:100%;
}

#kalendar1 span#prikazi{
    width: 50%;
}

#kalendar1 input{
    display: block !important;
    width: 100% !important;
}

  table {
border-collapse:collapse;
float: none;
width: 100%;
  }
  
.width25{
    width: 80%;
} 

.zbirka-polje{
width:80%;
display: table;
margin:auto;
border-collapse:collapse;
}
.sivo-polje-pretraga{
width:80%;
display:table;
margin:auto;
  border-spacing: 5px;
    border-collapse: separate;
}
.sivo-polje{
 max-width:95%;
 display: table;
}
.sivo-polje-unutrasnje{
display: none;
}
.levo-polje{
display: none;
visibility: hidden;
}

audio { width: 150px; display: block; margin:20px; }

.dno{
max-width:100%;
display:table-cell;
}

#jssor_1{
display: none;
visibility: hidden;
}
}

.belo-unutrasnje-polje{
top: 0;
left: 0;
width: relative;
height: inherit;
background-color: white;
color: #991b1e;
margin-top:0px;
font-family:'Open Sans', sans-serif; 
font-size: 14px;
line-height:23px; 
 padding: 10px;
border: #cccccc solid 1px;
border-radius:2px;
text-transform: none;
text-align: left;
}
.belo-unutrasnje-polje h1{
font-size:20px;
margin-top: 5px;
line-height:36px; 	 
font-weight: lighter;
color: #991b1e;
}

.belo-unutrasnje-polje h3{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight:normal;
	color: #991b1e;
	line-height: 120%;
}
.belo-unutrasnje-polje p{
text-align: left;
line-height:19px; 
color:#898989;
}
	

.belo-unutrasnje-polje ul{  
margin-left: -5px;
padding: 0;
display: table; width:100%;
}

.belo-unutrasnje-polje li {
    display: table-row;
	margin-left:-5px;
}
.belo-unutrasnje-polje li::before {
content:"\279C";
display: table-cell;
text-align: left;
color:#898989;
}
.belo-unutrasnje-polje a{
text-decoration:none;
font-family: 'Open Sans', Arial, Helvetica, sans-serif;
font-size:14px;
color:#898989;
}

.belo-unutrasnje-polje a:visited{
color:#898989;
}

.belo-unutrasnje-polje a:hover, a.current{
color:#898989;
text-decoration:underline;
}

.zbirka-polje{
top: 0;
left: 0;
width: relative;
height: inherit;
background-color: white;
color: #991b1e;
margin-top:0px;
font-family:'Open Sans', sans-serif; 
font-size: 14px;
line-height:23px;
margin:40px; 
padding:5px;
border: #cccccc solid 1px;
border-radius:2px;
text-transform:none;
text-align: left;
}
.zbirka-polje h3{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight:normal;
	color: #991b1e;
	line-height: 120%;
	text-align:center;
}

.zbirka-polje a{
text-decoration:none;
font-family: 'Open Sans', Arial, Helvetica, sans-serif;
font-size:14px;
color:#898989;
}

.zbirka-polje a:visited{
color:#898989;
}

.zbirka-polje a:hover, a.current{
color:#898989;
text-decoration:underline;
}

.levo-polje{
top: 0;
left: 0;
width: relative;
height: inherit;
background-color: white;
color: #991b1e;
margin-top:0px;
font-family:'Open Sans', sans-serif; 
font-size: 14px;
line-height:23px; 
 padding: 10px;
border: #cccccc solid 1px;
border-radius:2px;
text-transform: none;
text-align: left;
}
.levo-polje h1{
font-size:30px;
margin-top: 5px;
line-height:36px; 	 
font-weight: lighter;
color: #991b1e;
}

.levo-polje h3{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight:normal;
	color: #991b1e;
	line-height: 120%;
}
.levo-polje p{
text-align: left;
line-height: 23px; 
}
	

.levo-polje ul{  
margin-left: -10px;
padding: 0;
display: table; width:100%;
}

.levo-polje li {
    display: table-row;
	margin-left:-10px;
	font-size: 14px;
}
.levo-polje li::before {
content:"\279C";
display: table-cell;
text-align: left;
color:#898989;
}
.levo-polje a{
text-decoration:none;
font-family: 'Open Sans', Arial, Helvetica, sans-serif;
font-size:14px;
color:#898989;
}

.levo-polje a:visited{
color:#898989;
}

.levo-polje a:hover, a.current{
color:#898989;
text-decoration:underline;
}

.sivo-polje{
top: 0;
left:40px;

-webkit-box-shadow: 0px 0px 1px 1px #cccccc;
-moz-box-shadow: 0px 0px 1px 1px #cccccc;
box-shadow: 0px 0px 1px 1px #cccccc;
height: inherit;
margin-top:0px;
font-family: 'Open Sans', sans-serif;
font-size: 16px;
line-height: 22px; 
padding: 5px;
border-radius: 2px;
text-transform: none;
text-align: left;
background-color:whitesmoke;
color:#000;
}

.sivo-polje-unutrasnje{
top: 0;
left: 0;
width: relative;
-webkit-box-shadow: 0px 0px 1px 1px #cccccc;
-moz-box-shadow: 0px 0px 1px 1px #cccccc;
box-shadow: 0px 0px 1px 1px #cccccc;
height: inherit;
margin-top:0px;
font-family: 'Open Sans', sans-serif;
font-size: 16px;
line-height: 22px; 
padding: 5px;
border-radius: 2px;
text-transform: none;
text-align: left;
background-color:whitesmoke;
color:#000;
}
.sivo-polje-unutrasnje h2{
font-size:25px;
line-height: 30px; 
margin-top: 10px;
font-weight: lighter;
color: #000;
}

.sivo-polje-pretraga{
top: 0;
left: 0;
width: relative;
-webkit-box-shadow: 0px 0px 1px 1px #cccccc;
-moz-box-shadow: 0px 0px 1px 1px #cccccc;
box-shadow: 0px 0px 1px 1px #cccccc;
height: inherit;
font-family: 'Open Sans', sans-serif;
font-size: 16px;
line-height: 22px; 
padding: 5px;
border-radius: 2px;
text-transform: none;
text-align: left;
margin:20px;
background-color:whitesmoke;
color:#000;
}
.sivo-polje-pretraga h2{
font-size:20px;
line-height: 25px; 
margin-top: 10px;
font-weight: lighter;
color: #000;
}
.sivo-polje-pretraga h3{
font-size:16px;
line-height: 30px; 
margin-top: 10px;
font-weight: normal;
color: #000;
border-top:2px solid #991b1e;
border-bottom:2px solid #991b1e;
}
.sivo-polje-pretraga ul{  
margin-left: 0px;
padding: 0;
display: table; width:100%;
}

.sivo-polje-pretraga li {
    display: table-row;
	margin-left:5px;
	font-size: 14px;
line-height: 20px; 
}
.sivo-polje-pretraga li::before {
content:"\279C";
display: table-cell;
text-align: left;
color:#898989;
}

.sivo-polje-pretraga a{

color:#000;
	
}
.dugme_pretraga {
    background:url(images/search_button.png) no-repeat;
	background-size: content;
    cursor:pointer;
    width:25px;
	 margin-right:5px;
    height: 25px;
    border: none;
}

header{
    min-height:70px;
}

.navigation-top{
position:relative;
height: fit-content; 
float:right;
top:0;
padding-left:10px;
padding-right:5px; 
padding-top:0px; 
font-size: 13px; color: #991b1e; font-family: 'Open Sans', sans-serif;
border-top-right-radius: 0px;
border-bottom-left-radius: 6px;
visibility: visible;
z-index:1000;
}

.navigation-top form{
    display:inline; 
    position:relative; 
}

.navigation-top form input:first-of-type{
    border-radius:15px; 
    border:1px #CCCCCC solid;
    padding-left: 4px;
}

.navigation-top form input:first-of-type:focus{
    outline: none;
}

.navigation-top a{
display: inline;
text-decoration:none;
color:#991b1e;
	
}

.navigation-top a:visited{
display: inline;
margin-top:4px;
color:#991b1e;
}

.navigation-top a:hover, a.current{
display: inline;
margin-top:4px;
text-decoration:underline;
color:#991b1e;
}

#dl-menu div:first-of-type{
    width:120px; 
    height:62px; 
    display:inline-block; 
    position:relative; 
    top:4px; 
    left:5px;
}

#dl-menu div:first-of-type img{
    width:100%; 
    border:0;
}

#dl-menu > span{
    color:#7a0026; 
    fonT-size:20px;
}

#dl-menu > ul{
    margin-top:1px;
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
font-family: 'Open Sans', sans-serif;  
-webkit-flex-flow: row wrap;
justify-content: space-around;
text-align: left;
background-color:whitesmoke;
color:#000;
-webkit-box-shadow: 0px 0px 1px 1px #cccccc;
-moz-box-shadow: 0px 0px 1px 1px #cccccc;
box-shadow: 0px 0px 1px 1px #cccccc;
margin:left;
width:100%;
}

.flex-container h1{
font-family: 'Open Sans', sans-serif;
font-size:25px;
line-height: 30px; 
margin-top:0px;
position:relative;
font-weight: lighter;
color: #000;
margin-left:40px;
float: left;
width:auto;
text-align: left;
}


.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: rgba(232, 98, 86, 0.8) url(images/cd-top-arrow.svg) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}
.no-touch .cd-top:hover {
  background-color: #e86256;
  opacity: 1;
}
@media only screen and (min-width: 768px) {
  .cd-top {
    right: 20px;
    bottom: 20px;
  }
}
@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 60px;
    width: 60px;
    right: 30px;
    bottom: 30px;
  }
}

/*------------------------------------------ */
#primary_nav_wrap
{

	 display:block; 
	text-align:left; 
	margin: auto;
	list-style:none;
    padding:0;
			width:fit-content;
}

#primary_nav_wrap ul
{
	list-style:none;
	position:relative;
	margin:0;
	padding:0;	
	text-transform: uppercase;
}

#primary_nav_wrap ul a
{
	display:inline-block;
	text-decoration:none;
	line-height:30px;
	padding:5px 10px ;
	font-size:15px;  
font-family: 'Open Sans', sans-serif; 
	font-weight: lighter;  letter-spacing: 1px;
}

#primary_nav_wrap ul li
{	
font-family: 'Open Sans', sans-serif; 
	position:relative;
	float:inherit;
	margin:0;
	width:stretch; 
	display: inline-block; 
	padding:0; z-index:1000;  border-bottom: 6px solid transparent;
}

#primary_nav_wrap ul li.current-menu-item
{
font-family: 'Open Sans', sans-serif; 
}

#primary_nav_wrap ul li:hover
{
line-height:inherit; 
color:#7a0026; 	border-bottom: 6px solid #e1e1e1;
}

#primary_nav_wrap ul ul
{
	font-family: 'Open Sans', sans-serif;
	font-weight:lighter;
	display:none;
	position:absolute;
	top:100%;
	left:0;
	background-color:#FFF;
	color:#7a0026;
	
	padding:0;
	visibility: visible;
}

#primary_nav_wrap ul ul li
{
	float:none;  
	width:stretch;
	min-width:200px;  
}

#primary_nav_wrap ul ul a
{
	line-height:120%;
	padding:5px 10px ;
	color:#7a0026;
}

#primary_nav_wrap ul ul ul
{
	top:0;
	left:100%; 
}

#primary_nav_wrap ul li:hover > ul
{
	display:block;
}


.dno {
background-color:#2f2f2f;
background-image:-webkit-gradient(linear,left bottom,left top,color-stop(0.32,#404040),color-stop(0.22,#2f2f2f));
background-image:-webkit-linear-gradient(#404040,#2f2f2f);
background-image:-moz-linear-gradient(top,#404040,#2f2f2f);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#404040', endColorstr='#2f2f2f');
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#404040', endColorstr='#2f2f2f')";
background-image: -ms-linear-gradient(#404040,#2f2f2f);
background-image: -o-linear-gradient(#404040,#2f2f2f);
background-image: linear-gradient(#404040,#2f2f2f);
font-style: normal;	
font-family: 'Open Sans', sans-serif; 
font-size: 13px;
line-height: 17px;
color:#b6b6b6;
/* width:fit-content; */
text-align: left;
}
.dno p{
font-size: 14px;
line-height: 17px;	
color: #b6b6b6;
font-family:  'Open Sans', sans-serif; 

}
.dno h1{
font-size: 16px;
line-height: 22px;	
font-family: 'Open Sans', sans-serif; 
	font-weight:normal;
border-bottom: 1px solid #fff;
color: #b6b6b6;
}


.dno ul,li {
font-family:  'Open Sans', sans-serif; 
		font-weight:normal;
font-size: 12px;
    margin: 0;
    padding: 0;
}

.dno ul {
	display: block;
	line-height: 20px;	
}

.dno li {
    list-style: none;
    display:flex;
color: #b6b6b6;
}
.dno li::before {
 content:"\ ";
	font-size: 12px;
    display: table-cell;
color: #b6b6b6;
}

.dno a{
display: inline;
	font-family:  'Open Sans', sans-serif; 
	font-size: 14px;
text-decoration:none;
color:#b6b6b6;
}

.dno  a:visited{
display: inline;
color:#b6b6b6;
}

.dno  a:hover, a.current{
display: inline;
text-decoration:underline;
color:#b6b6b6;
}

.item {
  position: relative; 
   border-bottom:0px!important;
  margin: 0;
  overflow: hidden;
  width: 100%; height:100%;
}
.item img {
  max-width: 100%;
 -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.item:hover img {
  -moz-transform: scale(1.3);
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}
.item-overlay{width:100%; height:50px;}
.top{position:relative; top:0px;}


.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

.pagination a.active {
    background-color: #991b1e;
    color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

/*----------------------FORMA-----------------------------*/

.form-style-10{
    width:80%;
    padding:20px;
    margin:10px auto;
    background: #FFF;
    border-radius: 10px;
    -webkit-border-radius:10px;
    -moz-border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
}
.form-style-10 .inner-wrap{
    padding: 20px;
    background: #F8F8F8;
    border-radius: 6px;
    margin-bottom: 15px;
}
.form-style-10 h1{
    background: #b6b6b6;
    padding: 20px 30px 15px 30px;
    margin: -20px -20px 20px -20px;
    border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
    font: normal 30px  'Open Sans', sans-serif;  
    -moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    -webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    border: 1px solid #9f9f9f;
}
.form-style-10 h1 > span{
    display: block;
    margin-top: 2px;
    font: 13px  'Open Sans', sans-serif;  
}
.form-style-10 label{
    display: block;
    font: 13px  'Open Sans', sans-serif;  
    color: #888;
    margin-bottom: 15px;
}
.form-style-10 input[type="text"],
.form-style-10 input[type="date"],
.form-style-10 input[type="datetime"],
.form-style-10 input[type="email"],
.form-style-10 input[type="number"],
.form-style-10 input[type="search"],
.form-style-10 input[type="time"],
.form-style-10 input[type="url"],
.form-style-10 input[type="password"],
.form-style-10 textarea,
.form-style-10 select {
    display: block;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    padding: 8px;
    border-radius: 6px;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    border: 2px solid #fff;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
    -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
    -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
}

.form-style-10 .section{
    font: normal 20px  'Open Sans', sans-serif;  
    color: #9f9f9f;
    margin-bottom: 5px;
}
.form-style-10 .section span {
    background: #991b1e;
    padding: 5px 10px 5px 10px;
    position: absolute;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border: 4px solid #fff;
    font-size: 14px;
    margin-left: -45px;
    color: #fff;
    margin-top: -3px;
}
.form-style-10 input[type="button"], 
.form-style-10 input[type="submit"]{
    background: #9e1f22;
    padding: 8px 20px 8px 20px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
    font: normal 30px  'Open Sans', sans-serif;  
    -moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    -webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    border: 1px solid #8a1b1e;
    font-size: 15px;
}
.form-style-10 input[type="button"]:hover, 
.form-style-10 input[type="submit"]:hover{
    background: #ab2e32;
    -moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
    -webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
    box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
}
.form-style-10 .privacy-policy{
    float: right;
    width: 250px;
    font: 12px Arial, Helvetica, sans-serif;
    color: #4D4D4D;
    margin-top: 10px;
    text-align: right;
}


/* INDEX */

.jssorb05{position:absolute}.jssorb05 div,.jssorb05 div:hover,.jssorb05 .av{position:absolute;width:16px;height:16px;background:url('slider/img/b05.png') no-repeat;overflow:hidden;cursor:pointer}.jssorb05 div{background-position:-7px -7px}.jssorb05 div:hover,.jssorb05 .av:hover{background-position:-37px -7px}.jssorb05 .av{background-position:-67px -7px}.jssorb05 .dn,.jssorb05 .dn:hover{background-position:-97px -7px}.jssora22l,.jssora22r{display:block;position:absolute;width:40px;height:58px;cursor:pointer;background:url('slider/img/a22.png') center center no-repeat;overflow:hidden}.jssora22l{background-position:-10px -31px}.jssora22r{background-position:-70px -31px}.jssora22l:hover{background-position:-130px -31px}.jssora22r:hover{background-position:-190px -31px}.jssora22l.jssora22ldn{background-position:-250px -31px}.jssora22r.jssora22rdn{background-position:-310px -31px;}

.semi_transparent_bg{
 background-color: rgba(0,0,0, 0.6);
 color:#FFF;
width:60%;
height:60%;
padding-left:0px;
padding-top:0px;
top:20%;
/*border-radius:8px;*/
overflow:visible;
position:relative;
margin:auto;
	font-family: 'Open Sans', sans-serif;
	 text-shadow: 1px 1px #000;
	font-weight:normal;
font-size:14px;
z-index:1;
}
.semi_transparent_bg a {	
color:#FFF;
}
	.semi_transparent_bg h1 {
	 text-shadow: 2px 1px #000;
font-family: 'Raleway', sans-serif;
			font-weight: 300;
			padding-left: 20px;
		font-size:20px;
		}
	.semi_transparent_bg  h4{
font-size:15px;
line-height: 20px; 
font-weight: normal;
color: #FFF;
  display: block;
    margin-bottom:10px;
}
		.semi_transparent_bg ul {
list-style-type: square;
list-style-position: outside;
list-style-image: none;
line-height: 16px;
display:table-cell;
}
.legenda {
position:relative;
height: fit-content; 
max-width:15%;
float:right;
background-color: rgba(0,0,0, 0.6);
 color:#FFF;
 padding-left:10px;
 padding-right:10px;
padding-top:10px;
padding-bottom:10px;
 line-height: 16px;
 font-size:10px;
 font-family: 'Raleway', sans-serif;
 top:15%;
 border-top-left-radius:8px;
  border-bottom-left-radius:8px;
}
		
.image {
    position:absolute;
    width:100%;
    height:100%;
}
.image img {
    width:100%;
    vertical-align:top;
}
.image:after {
    content:'\A';
    position:absolute;
    width:100%; height:100%;
    top:0; left:0;
    background:rgba(255,255,255,0.4);
    opacity:0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.image:hover:after {
    opacity:1;
}
.image p {
 padding-left: 20px;
	text-align: left;
}

#layoutTable{
    width:100%; 
    border:0; 
    text-align:center; 
    border-top:solid 1px #991b1e;
}

.layoutTable1{
    width:100%; 
    border:0;
    border-top:solid 1px #980030;
}


.width15{
    width: 15%;
}

.width20{
    width: 20%;
}

.width25{
    width: 25%;
}

.width50{
    width: 50%;
}

.minWidth50{
    min-width: 50%;
}

.width60{
    width: 60%;
}

.width80{
    width: 80%;
}

.width100{
    width: 100%;
}

.alignCenter{
    text-align: center;
}

.alignLeft{
    text-align: left;
}

.border0{
    border: none;
}

.margin4{
    margin: 4px;
}

.pravaDiv{
    border-top: 1px solid #b6b6b6;
    padding-bottom: 0.1%;

}

.colorGray{
    color: #b6b6b6;
}

.colorGray1{
    color:#668298;
}

.colorGray2{
    color:#71867d;
}

.colorRed{
    color:#a74e54;
}

.colorRed1{
    color:#991b1e;
}

.colorGreen1{
    color:#8d824c;
}

.colorOrange{
    color:#c86339;
}

.borderBottomSilver{
    border-bottom:1px solid #cccccc;
}

.sortiraj{
    color: #898989; 
    font-family: 'Open Sans', sans-serif; 
    font-size:14px;
}

.rukopisneXIIIVekCards, .ranaStampana1494, .staraStampanaXVIIIi1801, .posebneCelineCards, .posebneCelineSrpStvaraociCards, .posebneCelineKataloziCards, .pocebneCelineTematskeCards, .periodikaCards, .muzikaCards, .slikeCards{
    color: #898989 ; 
    font-family: 'Open Sans', sans-serif; 
    font-size:14px;
    border-top: 2px solid #991b1e;
}

.form-style-10 select.selectPeriodika{
    border-radius: 10px;
    -webkit-border-radius:10px;
    -moz-border-radius: 10px;
    color:#666666;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
    outline: none;
}

.selectPeriodika{
    border-radius: 10px;
    -webkit-border-radius:10px;
    -moz-border-radius: 10px;
    color:#666666;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
    outline: none;
}

select{
    outline: none;
}

#kalendar{
    width:fit-content; 
    display:none; 
    position:relative;
}

#kalendar1 input{
    display: inline;
    width: 27%;
    margin-left: 1%;
    margin-right: 5%;
    
}

#kalendar1 span{
    display: block;
    background-color:#0a3370;
    color: white;
    border: none;
    outline: none;
    padding: 3px;
    width: 15%;
    margin: 4% auto 0 auto;
    text-align: center;
}

#kalendar1 span:hover{
    cursor: pointer;
}

#kalendar1 label{
    width: 100%;
}

#kalendar1{
    width:100%; 
    display:block; 
    position:relative;
    color: #9f9f9f;
}

#sadrzaj{
    width:100%; 
    display:none; 
    position:relative;
}

#sadrzaj1{
    width:100%; 
    display:block; 
    position:relative;
}

a.colorRed1{
    color:#991b1e;
    
}

.divSvetogorska{
    word-break:break-word; 
    position:relative; 
    width:auto;  
    display:inline-block; 
    float:right; 
    white-space: normal;
}

/* background-rukopisiiknjige */

@media only screen and (min-width: 768px) {
    /*here happens something when the screen size is >= 768px */
     #rukopisiiknjige {
    background-image: url(images/pozadina-rukopisi-leva.jpg), url(images/pozadina-rukopisi-desna.jpg);
    background-repeat: no-repeat;
    background-position: left top, right top;
     }
    }
    
    @media only screen and (max-width: 481px) {
    /*here happens something when the screen size is <= 768px*/
     #rukopisiiknjige  {
       background-image: none;
     }
    }

/* background-periodika */

@media only screen and (min-width: 768px) {
    /*here happens something when the screen size is >= 768px */
     #periodika {
    background-image: url(images/pozadina-periodika-leva.jpg), url(images/pozadina-periodika-desna.jpg);
    background-repeat: no-repeat;
    background-position: left top, right top;
     }
    }
    
    @media only screen and (max-width: 481px) {
    /*here happens something when the screen size is <= 768px*/
     #periodika  {
       background-image: none;
     }
    }


/* background-muzika */


@media only screen and (min-width: 768px) {
    /*here happens something when the screen size is >= 768px */
     #muzikaBody {
    background-image: url(images/pozadina-muzika-leva.jpg), url(images/pozadina-muzika-desna.jpg);
    background-repeat: no-repeat;
    background-position: left top, right top;
     }
    }
    
    @media only screen and (max-width: 481px) {
    /*here happens something when the screen size is <= 768px*/
     #muzikaBody  {
       background-image: none;
     }
    }
    
    /*PLAYER*/
    #player
    {
    background-color:#0389e0;
    background-image:-webkit-gradient(linear,left bottom,left top,color-stop(0.32,#0389e0),color-stop(0.22,#2f2f2f));
    background-image:-webkit-linear-gradient(#0389e0,#082e9a);
    background-image:-moz-linear-gradient(top,#0389e0,#082e9a);
        max-width:80%;
        margin-left:0px;
        padding:5px;
        box-sizing:border-box;
    }
    input[type="image"]
    {
        float:left;
        height:20px;
        margin-left:2px;
        margin-right:5px;
        margin-top:2px;
        
    }
    #vol_img
    {
        margin-left:40px;
        width:20px;
    }

    /* background-slike */

    @media only screen and (min-width: 768px) {
        /*here happens something when the screen size is >= 768px */
         #slikeBody {
        background-image: url(images/pozadina-slike-leva.jpg), url(images/pozadina-slike-desna.jpg);
        background-repeat: no-repeat;
        background-position: left top, right top;
         }
        }
        
        @media only screen and (max-width: 481px) {
        /*here happens something when the screen size is <= 768px*/
         #slikeBody  {
           background-image: none;
         }
        }